In [1]:
import sqlite3
import pandas as pd
from aws_utils import *

In [2]:
# client, resource = aws_connect()

In [3]:
# client.download_file('flights-db', 'db-file', 'airline2.db')
os.chdir('..')

In [4]:
conn = sqlite3.connect("airline2.db")
cur = conn.cursor()

### Which of the following airplanes has the lowest associated average departure delay (excluding cancelled and diverted flights)?

In [5]:
q1 = """
    SELECT
        model AS model,
        AVG(on_time.departure_delay) AS avg_delay
    FROM planes
    JOIN on_time USING(tail_number)
    WHERE on_time.cancelled = 0
    AND on_time.diverted = 0
    AND on_time.departure_delay > 0
    GROUP BY model
    ORDER BY avg_delay
    LIMIT 1
"""

In [6]:
cur.execute(q1)
result = cur.fetchone()
result

('737-230', 12.956403269754768)

### Which of the following cities has the highest number of inbound flights (excluding cancelled flights)?

In [7]:
q2 = """
    SELECT
        airports.city AS city,
        COUNT(*) AS total
    FROM airports
    JOIN on_time
    ON on_time.destination = airports.iata
    WHERE on_time.cancelled = 0
    GROUP BY airports.city
    ORDER BY total DESC
    LIMIT 1;
"""

In [ ]:
cur.execute(q2)
result = cur.fetchone()
result

### Which of the following companies has the highest number of cancelled flights, relative to their number of total flights?

In [ ]:
q3 = """
    SELECT
        q1.carrier AS carrier,
        (CAST(q1.numerator AS FLOAT)/ CAST(q2.denominator AS FLOAT)) AS ratio
    FROM (
        SELECT
            carriers.description AS carrier,
            COUNT(*) AS numerator
        FROM carriers
        JOIN on_time
        ON on_time.unique_carrier = carriers.code
        WHERE on_time.cancelled = 1
        AND carriers.description IN ('United Air Lines Inc.', 'American Airlines Inc.', 'Pinnacle Airlines Inc.', 'Delta Air Lines Inc.')
        GROUP BY carriers.description) AS q1
    JOIN (
        SELECT
            carriers.description AS carrier,
            COUNT(*) AS denominator
        FROM carriers
        JOIN on_time
        ON on_time.unique_carrier = carriers.code
        WHERE carriers.description IN ('United Air Lines Inc.', 'American Airlines Inc.', 'Pinnacle Airlines Inc.', 'Delta Air Lines Inc.')
        GROUP BY carriers.description) AS q2 USING(carrier)
    ORDER BY ratio DESC
    LIMIT 1;
"""

In [ ]:
cur.execute(q3)
result = cur.fetchone()
result

### Which of the following companies has the highest number of cancelled flights?

In [ ]:
q4 = """
    SELECT
        c.description AS carrier,
        SUM(o.cancelled) AS 'cancelled flights'
    FROM on_time o
    JOIN carriers c
    ON o.unique_carrier = c.code
    WHERE c.description IN ('United Air Lines Inc.', 'American Airlines Inc.', 'Pinnacle Airlines Inc.', 'Delta Air Lines Inc.')
    GROUP BY carrier
    ORDER BY SUM(o.cancelled) DESC
    LIMIT 1;
"""

In [ ]:
cur.execute(q4)
result = cur.fetchone()
result

In [ ]:
conn.close()