In [37]:
import sqlite3
import pandas as pd
from aws_utils import *

In [38]:
client, resource = aws_connect()

In [39]:
# client.download_file('flights-db', 'db-file', 'airline2.db')
os.chdir('..')

In [40]:
conn = sqlite3.connect("airline2.db")
cur = conn.cursor()

### Which of the following airplanes has the lowest associated average departure delay (excluding cancelled and diverted flights)?

In [45]:
q1 = """
    SELECT
        model AS model,
        AVG(on_time.departure_delay) AS avg_delay
    FROM planes
    JOIN on_time USING(tail_number)
    WHERE on_time.cancelled = 0
    AND on_time.diverted = 0
    AND on_time.departure_delay > 0
    GROUP BY model
    ORDER BY avg_delay
    LIMIT 1
"""

In [46]:
cur.execute(q1)
result = cur.fetchone()
result

('737-230', 12.956403269754768)

### Which of the following cities has the highest number of inbound flights (excluding cancelled flights)?

In [51]:
q2 = """
    SELECT
        airports.city AS city,
        COUNT(*) AS total
    FROM airports
    JOIN on_time
    ON on_time.destination = airports.iata
    WHERE on_time.cancelled = 0
    GROUP BY airports.city
    ORDER BY total DESC
    LIMIT 1;
"""

In [52]:
cur.execute(q2)
result = cur.fetchone()
result

[('Chicago', 1051325),
 ('Atlanta', 937349),
 ('Dallas-Fort Worth', 671818),
 ('Houston', 609759),
 ('New York', 547465),
 ('Denver', 541437),
 ('Los Angeles', 537060),
 ('Phoenix', 488776),
 ('Las Vegas', 424243),
 ('Detroit', 353871),
 ('Newark', 348671),
 ('Salt Lake City', 334946),
 ('Minneapolis', 321827),
 ('San Francisco', 309281),
 ('Orlando', 292005),
 ('Boston', 290495),
 ('Charlotte', 281249),
 ('Covington', 263710),
 ('Baltimore', 248436),
 ('Seattle', 247895),
 ('Philadelphia', 240470),
 ('San Diego', 219304),
 ('Chantilly', 206970),
 ('Arlington', 206725),
 ('Cleveland', 183645),
 ('Tampa', 182489),
 ('Oakland', 170011),
 ('Ft. Lauderdale', 160938),
 ('Memphis', 156615),
 ('Portland', 152008),
 ('Miami', 150943),
 ('Honolulu', 147122),
 ('St Louis', 147078),
 ('Raleigh', 142492),
 ('San Jose', 140590),
 ('Kansas City', 140519),
 ('Nashville', 138980),
 ('Sacramento', 129216),
 ('Dallas', 119681),
 ('Santa Ana', 119301),
 ('Austin', 111849),
 ('Pittsburgh', 109288),
 ('San Antonio', 103277),
 ('Indianapolis', 93949),
 ('Albuquerque', 91232),
 ('Ontario', 90569),
 ('Columbus', 87790),
 ('New Orleans', 80267),
 ('Jacksonville', 79838),
 ('Burbank', 74857),
 ('Windsor Locks', 74488),
 ('West Palm Beach', 68714),
 ('Ft. Myers', 65400),
 ('Milwaukee', 62777),
 ('Tucson', 62761),
 ('Reno', 62186),
 ('Buffalo', 61036),
 ('Omaha', 59082),
 ('Providence', 58603),
 ('Oklahoma City', 56737),
 ('San Juan', 56473),
 ('Kahului', 55844),
 ('Tulsa', 53798),
 ('El Paso', 50764),
 ('Birmingham', 49940),
 ('Louisville', 48549),
 ('Manchester', 48167),
 ('Rochester', 46789),
 ('Norfolk', 44829),
 ('Richmond', 44624),
 ('Anchorage', 44201),
 ('Boise', 40785),
 ('Charleston', 40169),
 ('Colorado Springs', 39468),
 ('Little Rock', 38296),
 ('Grand Rapids', 37130),
 ('Albany', 36808),
 ('Jackson', 36783),
 ('Des Moines', 35661),
 ('Spokane', 35357),
 ('Fresno', 35165),
 ('Lihue', 34016),
 ('Dayton', 33555),
 ('Kailua/Kona', 33479),
 ('Santa Barbara', 32571),
 ('Greensboro', 32526),
 ('Long Beach', 31760),
 ('Wichita', 31342),
 ('Palm Springs', 31135),
 ('Savannah', 31134),
 ('Madison', 29754),
 ('Fayetteville/Springdale/Rogers', 29248),
 ('Syracuse', 29233),
 ('Greer', 27668),
 ('Knoxville', 27609),
 ('Islip', 27365),
 ('Springfield', 26891),
 ('Columbia', 24964),
 ('Baton Rouge', 24285),
 ('Pensacola', 23141),
 ('White Plains', 22153),
 ('Cedar Rapids', 21931),
 ('Lexington', 21903),
 ('Akron', 21349),
 ('Lubbock', 20562),
 ('Huntsville', 20468),
 ('Hilo', 19464),
 ('Monterey', 19251),
 ('Harrisburg', 18857),
 ('Shreveport', 18392),
 ('Midland', 18318),
 ('Amarillo', 18118),
 ('Moline', 18012),
 ('Green Bay', 17983),
 ('Flint', 17697),
 ('Sarasota', 17630),
 ('Corpus Christi', 17055),
 ('Gulfport-Biloxi', 16922),
 ('Burlington', 15902),
 ('San Luis Obispo', 15794),
 ('Valparaiso', 15394),
 ('Myrtle Beach', 15178),
 ('Eugene', 14542),
 ('Sioux Falls', 14455),
 ('Medford', 14405),
 ('Mobile', 13588),
 ('Newport News', 13423),
 ('Fort Wayne', 13000),
 ('Lafayette', 12451),
 ('Bakersfield', 12422),
 ('Harlingen', 12175),
 ('Allentown', 12051),
 (None, 11620),
 ('Appleton', 11600),
 ('Bozeman', 11553),
 ('Fargo', 11475),
 ('Peoria', 11341),
 ('Killeen', 11257),
 ('Evansville', 11222),
 ('Fairbanks', 11212),
 ('Grand Junction', 11146),
 ('Rapid City', 11049),
 ('McAllen', 10856),
 ('Billings', 10671),
 ('Kalamazoo', 10610),
 ('Lansing', 10461),
 ('Aspen', 10429),
 ('Chattanooga', 10331),
 ('Juneau', 9964),
 ('Bloomington', 9955),
 ('Durango', 9077),
 ('Bangor', 8997),
 ('Wilmington', 8867),
 ('Missoula', 8792),
 ('Roanoke', 8696),
 ('Tallahassee', 8687),
 ('Traverse City', 8682),
 ('Daytona Beach', 8581),
 ('Redmond', 8493),
 ('Montgomery', 8420),
 ('Newburgh', 8382),
 ('Arcata/Eureka', 8377),
 ('St George', 8250),
 ('Yuma', 8180),
 ('Casper', 8015),
 ('Eagle', 7880),
 ('Lincoln', 7850),
 ('Asheville', 7765),
 ('South Bend', 7733),
 ('Saginaw', 7233),
 ('Idaho Falls', 7210),
 ('Charlotte Amalie', 7171),
 ('Panama City', 7067),
 ('Great Falls', 7056),
 ('Hailey', 6882),
 ('Kalispell', 6715),
 ('Champaign/Urbana', 6682),
 ('Abilene', 6391),
 ('Alexandria', 6383),
 ('Hayden', 6369),
 ('Bismarck', 6203),
 ('Montrose', 6198),
 ('Modesto', 6150),
 ('Monroe', 6144),
 ('Wilkes-Barre/Scranton', 6072),
 ('Toledo', 6062),
 ('Pasco', 5895),
 ('Laredo', 5843),
 ('Ketchikan', 5442),
 ('Waco', 5343),
 ('Fort Smith', 5263),
 ('Wichita Falls', 5247),
 ('Augusta', 5134),
 ('Lawton', 5113),
 ('Twin Falls', 5034),
 ('Melbourne', 4868),
 ('La Crosse', 4580),
 ('Gainesville', 4498),
 ('Fayetteville', 4443),
 ('Redding', 4356),
 ('Brownsville', 4309),
 ('Pocatello', 4274),
 ('Elko', 4063),
 ('Santa Maria', 4042),
 ('Flagstaff', 4000),
 ('Helena', 3988),
 ('San Angelo', 3984),
 ('College Station', 3932),
 ('Duluth', 3821),
 ('Tyler', 3808),
 ('Dothan', 3673),
 ('Charlottesville', 3642),
 ('Oxnard', 3337),
 ('Mosinee', 3313),
 ('Bristol', 3227),
 ('Aguadilla', 3182),
 ('Dubuque', 3085),
 ('Chico', 3005),
 ('Cody', 2979),
 ('Sitka', 2963),
 ('Lake Charles', 2887),
 ('Imperial', 2887),
 ('Gunnison', 2745),
 ('Erie', 2614),
 ('Texarkana', 2604),
 ('Minot', 2508),
 ('Key West', 2506),
 ('Valdosta', 2463),
 ('Kotzebue', 2463),
 ('Longview', 2456),
 ('Grand Forks', 2447),
 ('Nome', 2446),
 ('Bethel', 2446),
 ('Crescent City', 2294),
 ('Macon', 2287),
 ('Brunswick', 2264),
 ('Inyokern', 2215),
 ('Columbus-Starkville-West Point', 2158),
 ('Lynchburg', 2057),
 ('Ponce', 1918),
 ('Binghamton', 1830),
 ('Meridian', 1811),
 ('Butte', 1792),
 ('Cordova', 1668),
 ('Petersburg', 1655),
 ('Wrangell', 1646),
 ('Yakutat', 1645),
 ('Lewiston', 1633),
 ('Barrow', 1605),
 ('Elmira', 1599),
 ('Florence', 1557),
 ('Atlantic City', 1540),
 ('Rockford', 1497),
 ('Deadhorse', 1490),
 ('Kodiak', 1418),
 ('Tupelo', 1276),
 ('Naples', 1268),
 ('Christiansted', 1101),
 ('Bellingham', 1098),
 ('New Bern', 903),
 ('Huntington', 903),
 ('Beaumont/Port Arthur', 832),
 ('Trenton', 813),
 ('Kinston', 697),
 ('Salem', 620),
 ('Palmdale', 597),
 ('Telluride', 589),
 ('Yakima', 587),
 ('King Salmon', 581),
 ('Cedar City', 580),
 ('Sioux City', 557),
 ('West Yellowstone', 526),
 ('Pellston', 525),
 ('Roswell', 495),
 ('Nantucket', 490),
 ('Hancock', 391),
 ('Dillingham', 386),
 ('Lewisburg', 381),
 ('Waterloo', 350),
 ('Pinehurst/Southern Pines', 311),
 ('Rhinelander', 230),
 ('Adak', 221),
 ('International Falls', 198),
 ('Gustavus', 169),
 ('Marathon', 126),
 ('Bemidji', 115),
 ('Gillette', 96),
 ('Eau Claire', 66),
 ('Rock Springs', 64),
 ('Muskegon', 64),
 ('Hickory', 36),
 ('Ogden', 13),
 ('Cheyenne', 10),
 ('Provo', 8),
 ('Pueblo', 4),
 ('Pierre', 4),
 ('New Haven', 3),
 ('Greenville', 2),
 ('Scottsbluff', 1),
 ('North Platte', 1),
 ('Laramie', 1)]

### Which of the following companies has the highest number of cancelled flights, relative to their number of total flights?

In [47]:
q3 = """
    SELECT
        q1.carrier AS carrier,
        (CAST(q1.numerator AS FLOAT)/ CAST(q2.denominator AS FLOAT)) AS ratio
    FROM (
        SELECT
            carriers.description AS carrier,
            COUNT(*) AS numerator
        FROM carriers
        JOIN on_time
        ON on_time.unique_carrier = carriers.code
        WHERE on_time.cancelled = 1
        AND carriers.description IN ('United Air Lines Inc.', 'American Airlines Inc.', 'Pinnacle Airlines Inc.', 'Delta Air Lines Inc.')
        GROUP BY carriers.description) AS q1
    JOIN (
        SELECT
            carriers.description AS carrier,
            COUNT(*) AS denominator
        FROM carriers
        JOIN on_time
        ON on_time.unique_carrier = carriers.code
        WHERE carriers.description IN ('United Air Lines Inc.', 'American Airlines Inc.', 'Pinnacle Airlines Inc.', 'Delta Air Lines Inc.')
        GROUP BY carriers.description) AS q2 USING(carrier)
    ORDER BY ratio DESC
    LIMIT 1;
"""

In [48]:
cur.execute(q3)
result = cur.fetchone()
result

[('Pinnacle Airlines Inc.', 0.034664900204487197),
 ('American Airlines Inc.', 0.026204948541537897),
 ('United Air Lines Inc.', 0.02341081287083364),
 ('Delta Air Lines Inc.', 0.015235135662146506)]

### Which of the following companies has the highest number of cancelled flights?

In [53]:
q4 = """
    SELECT
        a.description AS carrier,
        SUM(o.cancelled) AS 'cancelled flights'
    FROM on_time o
    JOIN carriers c
    ON o.unique_carrier = c.code
    WHERE c.description IN ('United Air Lines Inc.', 'American Airlines Inc.', 'Pinnacle Airlines Inc.', 'Delta Air Lines Inc.')
    GROUP BY carrier
    ORDER BY SUM(o.cancelled) DESC
    LIMIT 1;
"""

In [54]:
cur.execute(q4)
result = cur.fetchone()
result

('AA', 38835)

In [ ]:
conn.close()