In [1]:
import sqlite3
import pandas as pd
from aws_utils import *

In [ ]:
# client, resource = aws_connect()

In [2]:
# client.download_file('flights-db', 'db-file', 'airline2.db')
os.chdir('..')

In [3]:
conn = sqlite3.connect("airline2.db")
cur = conn.cursor()

In [4]:
cur.execute("""
    SELECT name FROM sqlite_schema
    WHERE type='table'
    ORDER BY name;
""")
cur.fetchall()

[('airports',), ('carriers',), ('on_time',), ('planes',)]

In [5]:
cur.execute("""
    SELECT * FROM on_time LIMIT 10;
""")
names = list(map(lambda x: x[0], cur.description))
# cur.fetchall()
names

['Year',
 'Month',
 'DayofMonth',
 'DayOfWeek',
 'DepTime',
 'CRSDepTime',
 'ArrTime',
 'CRSArrTime',
 'UniqueCarrier',
 'FlightNum',
 'TailNum',
 'ActualElapsedTime',
 'CRSElapsedTime',
 'AirTime',
 'ArrDelay',
 'DepDelay',
 'Origin',
 'Dest',
 'Distance',
 'TaxiIn',
 'TaxiOut',
 'Cancelled',
 'CancellationCode',
 'Diverted',
 'CarrierDelay',
 'WeatherDelay',
 'NASDelay',
 'SecurityDelay',
 'LateAircraftDelay']

### Which of the following airplanes has the lowest associated average departure delay (excluding Cancelled and Diverted flights)?

In [12]:
q1 = """
    SELECT
        model AS model,
        AVG(on_time.DepDelay) AS avg_delay
    FROM planes
    JOIN on_time USING(TailNum)
    WHERE on_time.Cancelled = 0
    AND on_time.Diverted = 0
    AND on_time.DepDelay > 0
    GROUP BY model
    ORDER BY avg_delay
    LIMIT 1
"""

In [13]:
cur.execute(q1)
result = cur.fetchone()
result

('737-230', 12.956403269754768)

### Which of the following cities has the highest number of inbound flights (excluding Cancelled flights)?

In [14]:
q2 = """
    SELECT
        airports.city AS city,
        COUNT(*) AS total
    FROM airports
    JOIN on_time
    ON on_time.Dest = airports.iata
    WHERE on_time.Cancelled = 0
    GROUP BY airports.city
    ORDER BY total DESC
    LIMIT 1;
"""

In [15]:
cur.execute(q2)
result = cur.fetchone()
result

('Chicago', 1051340)

### Which of the following companies has the highest number of Cancelled flights, relative to their number of total flights?

In [16]:
q3 = """
    SELECT
        q1.carrier AS carrier,
        (CAST(q1.numerator AS FLOAT)/ CAST(q2.denominator AS FLOAT)) AS ratio
    FROM (
        SELECT
            carriers.Description AS carrier,
            COUNT(*) AS numerator
        FROM carriers
        JOIN on_time
        ON on_time.UniqueCarrier = carriers.code
        WHERE on_time.Cancelled = 1
        AND carriers.Description IN ('United Air Lines Inc.', 'American Airlines Inc.', 'Pinnacle Airlines Inc.', 'Delta Air Lines Inc.')
        GROUP BY carriers.Description) AS q1
    JOIN (
        SELECT
            carriers.Description AS carrier,
            COUNT(*) AS denominator
        FROM carriers
        JOIN on_time
        ON on_time.UniqueCarrier = carriers.code
        WHERE carriers.Description IN ('United Air Lines Inc.', 'American Airlines Inc.', 'Pinnacle Airlines Inc.', 'Delta Air Lines Inc.')
        GROUP BY carriers.Description) AS q2 USING(carrier)
    ORDER BY ratio DESC
    LIMIT 1;
"""

In [17]:
cur.execute(q3)
result = cur.fetchone()
result

('Pinnacle Airlines Inc.', 0.034664900204487197)

### Which of the following companies has the highest number of Cancelled flights?

In [18]:
q4 = """
    SELECT
        c.Description AS carrier,
        SUM(o.Cancelled) AS 'Cancelled flights'
    FROM on_time o
    JOIN carriers c
    ON o.UniqueCarrier = c.code
    WHERE c.Description IN ('United Air Lines Inc.', 'American Airlines Inc.', 'Pinnacle Airlines Inc.', 'Delta Air Lines Inc.')
    GROUP BY carrier
    ORDER BY SUM(o.Cancelled) DESC
    LIMIT 1;
"""

In [19]:
cur.execute(q4)
result = cur.fetchone()
result

('American Airlines Inc.', 38835)

In [20]:
conn.close()